<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        metadata-complete="true" version="3.0">
    <display-name>Archetype Created Web Application</display-name>


    <!--___________________ Spring context _____________________________-->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <welcome-file-list>
        <!--<welcome-file>index.jsp</welcome-file>-->
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <!--___________________________________________________________-->
    <!--<servlet>
        <servlet-name>SiteController</servlet-name>
        <servlet-class>controllers.SiteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SiteController</servlet-name>
        <url-pattern>/SiteController</url-pattern>
    </servlet-mapping>
    &lt;!&ndash;  &ndash;&gt;
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controllers.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin/AdminController</url-pattern>
    </servlet-mapping>
    &lt;!&ndash;  &ndash;&gt;
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>controllers.AuthController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/Auth</url-pattern>
    </servlet-mapping>
    &lt;!&ndash;  &ndash;&gt;
    <filter>
        <filter-name>AuthAdmin</filter-name>
        <filter-class>filter.FilterAuthAdmin</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthAdmin</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>-->
    <!--  -->

    <!--<filter>
        <filter-name>CharsetEncoding</filter-name>
        <filter-class>filter.FilterCharset</filter-class>
        <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharsetEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
</web-app>